<h1><span class="glyphicon glyphicon-globe"></span> 24 Hour Explorer</h1>
<p2>A collection of photos from exploring various cities in 24 hours at a time around the world &nbsp &nbsp <div class="fb-like" data-href="http://mytravelphotos.herokuapp.com" data-width="5px" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
  
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
</p2>

<p><%= link_to "My Blog", "http://mycabinpressure.blogspot.ae/" %>.</p>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box">  
      <%= link_to image_tag(pin.image.url(:medium)), pin %>       
        <% if pin.admin == current_admin %>
          <div class="actions">
            <%= link_to 'Edit', edit_pin_path(pin) %>
            <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>  
  <% end %>
</div>

