<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://s3.amazonaws.com/mytravelphotos/pins/images/000/000/003/IMG_0713.JPG?X-Amz-Date=20140718T154810Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=573f677b3ed66c7a9977e1d98406aabd4637f91f740e0573af09c11b17bbbbc7&X-Amz-Credential=ASIAIDGYO7E7HMX5MC7Q/20140718/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEL///////////wEasAIOIHJ9ZQB/Xl4Xy1P9RyjdiaCZxLClgxrJrN0iWASy7x%2B67MLD9EUwV2hHQBpsJmSMK0Sb8fAlZEN%2B3h1hA4zxiY6Mx/m1oWCpPZU4eH/RUckFk6dmkR0PwY%2B4b5NEvfx3Z3dACW1KaA9lVMDLU8r31Ufs5qYSJrLdkjbsGOpCnRhnyQpT%2BEyvj3OnfVVxWj3B/1YMhL2y0%2Bw9d9Qw%2Bp05R0ZG2frRW8/iZ2kt1rY93PY00SrY%2BO4sH0tnnjsDQnFcx8CTZUbh5EctFGD7kAuAVHfcEOpiKMIB3erD53mfFjncaR9NZ09q25FgP23D3R%2BpQ697PwDgr5GUrAHyLIMIlAaSOBJir/P9FjEGCna1Q44lHF%2BV9k8EVs9RYdQOFOKXDVuwpMvgGb7Qke%2BW%2BkqUIKj5o54F" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="https://s3.amazonaws.com/mytravelphotos/pins/images/000/000/003/IMG_0499.JPG?X-Amz-Date=20140718T154819Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=e5254a60d305e36e9ee1cef4a7fc585a939a336dcb58caef4786f1fda770e146&X-Amz-Credential=ASIAIDGYO7E7HMX5MC7Q/20140718/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEL///////////wEasAIOIHJ9ZQB/Xl4Xy1P9RyjdiaCZxLClgxrJrN0iWASy7x%2B67MLD9EUwV2hHQBpsJmSMK0Sb8fAlZEN%2B3h1hA4zxiY6Mx/m1oWCpPZU4eH/RUckFk6dmkR0PwY%2B4b5NEvfx3Z3dACW1KaA9lVMDLU8r31Ufs5qYSJrLdkjbsGOpCnRhnyQpT%2BEyvj3OnfVVxWj3B/1YMhL2y0%2Bw9d9Qw%2Bp05R0ZG2frRW8/iZ2kt1rY93PY00SrY%2BO4sH0tnnjsDQnFcx8CTZUbh5EctFGD7kAuAVHfcEOpiKMIB3erD53mfFjncaR9NZ09q25FgP23D3R%2BpQ697PwDgr5GUrAHyLIMIlAaSOBJir/P9FjEGCna1Q44lHF%2BV9k8EVs9RYdQOFOKXDVuwpMvgGb7Qke%2BW%2BkqUIKj5o54F" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="https://s3.amazonaws.com/mytravelphotos/pins/images/000/000/003/IMG_0244.JPG?X-Amz-Date=20140718T154822Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=21e691e0d6797d4133ce23fae9aa6a257eb276e360e951394414311002b715ee&X-Amz-Credential=ASIAIDGYO7E7HMX5MC7Q/20140718/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEL///////////wEasAIOIHJ9ZQB/Xl4Xy1P9RyjdiaCZxLClgxrJrN0iWASy7x%2B67MLD9EUwV2hHQBpsJmSMK0Sb8fAlZEN%2B3h1hA4zxiY6Mx/m1oWCpPZU4eH/RUckFk6dmkR0PwY%2B4b5NEvfx3Z3dACW1KaA9lVMDLU8r31Ufs5qYSJrLdkjbsGOpCnRhnyQpT%2BEyvj3OnfVVxWj3B/1YMhL2y0%2Bw9d9Qw%2Bp05R0ZG2frRW8/iZ2kt1rY93PY00SrY%2BO4sH0tnnjsDQnFcx8CTZUbh5EctFGD7kAuAVHfcEOpiKMIB3erD53mfFjncaR9NZ09q25FgP23D3R%2BpQ697PwDgr5GUrAHyLIMIlAaSOBJir/P9FjEGCna1Q44lHF%2BV9k8EVs9RYdQOFOKXDVuwpMvgGb7Qke%2BW%2BkqUIKj5o54F" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</br>
</br>
<div class="jumbotron">
	<h3>About me </h3>
	</br>
	<p>I am a flight attendant who has been lucky enough to explore so much of the world. I wanted to display all the beautiful things I have captured on this website even if I only get 24 hours in most cities.</p>
</div>