<div class="jumbotron center">
	<h3>Log in</h3>

	<p>
		<% if admin_signed_in? %>
			<%= link_to "Log Out", destroy_admin_session_path, class: "btn btn-default btn-lg", method: :delete %>
		<% else %>
			<%= link_to "Admin", new_admin_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "New", new_admin_registration_path, class: "btn btn-default btn-lg" %>
		<% end %>

	</p>
</div>